<table class="table table-bordered mb-0">
  <tbody>
    <%- @contacts.limit(3).each do |contact| %>
      <tr>
        <td><%= contact.id %></td>
        <td><%= contact.first_name %> <%= contact.last_name %></td>
        <td><%= contact.company %></td>
      </tr>
    <% end %>
  </tbody>
</table>
